<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--无参构造函数-->
   <bean id="UserEntity" class="SpringAop.UserEntity" ></bean>
    <!--有参构造函数-->
  <bean id="UserEntity1" class="SpringAop.UserEntity" >
           <constructor-arg name="name" value="wang"></constructor-arg>
           <constructor-arg name="age" value="18"></constructor-arg>
       </bean>
    <!--set注入方法-->
    <bean id="userDao" class="SpringAop.UserDao" ></bean>
    <bean id="UserService" class="SpringAop.UserService" >
        <property name="UserDao" ref="userDao"/>
    </bean>
   <!-- p标签注入-->
    <bean id="UserService1" class="SpringAop.UserService" p:userDao-ref="userDao"></bean>

</beans>